{% for empleado in empleados %}
<form method="POST" action="/update" enctype="multipart/form-data">
    <input hidden type="text" name="txtID" id="txtID" value="{{empleado[0]}}">
    NOMBRE:
    <input type="text" name="txtNombre" id="txtNombre" value="{{empleado[1]}}">
    <br>
    CORREO:
    <input type="text" name="txtCorreo" id="txtCorreo" value="{{empleado[2]}}">
    <br>
    FOTO: {{empleado[3]}}
    <input type="file" name="txtFoto" id="txtFoto">
    <br>
    <input type="submit" value="Agregar">
</form>
{% endfor %}